@charset "utf-8";

.gauge {
  // setting bottom padding to 50% creates a container
  // that is half as high as it is wide
  padding-bottom: 50%;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}

// container for rotating gauge meter
.gauge__meter {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: gauge__animation--25 1s forwards;
  transform-origin: center bottom;
}

.gauge__arc {
  content: '';
  position: absolute;
  height: 200%;
  width: 100%;
  border-radius: 50%;
}

.gauge__animation(@target){
  from {
    transform: rotate(0.5turn);
  }
  to {
    transform: rotate(0.5turn + @target/2);
  }
}

// cut out
.gauge:after {
  content: '';
  background: white;
  position: absolute;
  top: 60%;
  right: 30%;
  bottom: -40%;
  left: 30%;
  border-radius: 50%;
}

// background arc
.gauge:before:extend(.gauge__arc) {
  background: lightgrey;
}

// gauge meter arc
.gauge__meter:before:extend(.gauge__arc) {
  background: red;
}

@keyframes gauge__animation--10 {.gauge__animation(.12)};
@keyframes gauge__animation--25 {.gauge__animation(.25)};
@keyframes gauge__animation--50 {.gauge__animation(.50)};
@keyframes gauge__animation--75 {.gauge__animation(.75)};
